@card-width: 180px;
@card-height: 300px;

.card() {
  border: 1px solid black;
  border-radius: 5px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20px;
  height: @card-height;
  width: @card-width;
  margin: 10px;
  padding: 7px;
  word-wrap: break-word;
}

.game-component {
  width: 100%;

  .top-row {
    display: flex;
    height: 600px;
    width: 100%;
    overflow: auto;

    .white-card-selection-container {
      min-width: @card-width;
      height: @card-height;
      border: 1px solid black;
      display: flex;
    }

    .white-card-submissions {
      display: flex;
      .player-submissions {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        &:hover {
          .card {
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

  .bottom-row {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: flex-end;

    .hand-container {
      display: flex;
      flex-basis: 90%;
      pointer-events: none;

      &.can-drag {
        pointer-events: all;
        cursor: grab;
      }
    }

    .submit {
      border: 1px solid black;
      padding: 30px;
      margin: 10px;
      cursor: pointer;
    }
  }

  .card {
    .card();

    &.black {
      color: white;
      background-color: black;
    }

    &.white {
      color: black;
      background-color: white;
    }
  }
}

.cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); 
}

.cdk-drag-placeholder {
  opacity: 0;
  // display: inline-block;
  height: @card-height;
  width: @card-width;
}

.cdk-drag-preview {
  .card();
  color: black;
  background-color: white;
  cursor: grab;
}

.white-card-selection-container.cdk-drop-list-dragging .white-card-selection:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
